.flexExpand {
    display: flex;
    justify-content: space-between;
}
.buttons{
    display: flex;
    justify-content: center;
}
.title{
    color:red;
}
.mat-toolbar{
    background-color: white;
}