[Unit]
Description=Proiect PAW backend
After=multi-user.target

[Service]
Type=idle
ExecStart=java -jar /home/ubuntu/PAW/demo.jar > /home/ubuntu/PAW/logs.log
Restart=always
StandardOutput=file:/home/ubuntu/PAW/my_service.log
StandardError=file:/home/ubuntu/PAW/my_service.log

[Install]
WantedBy=multi-user.target
