[Unit]
Description=My Angular App
After=network.target

[Service]
User=ubuntu
Type=simple
ExecStart=/home/ubuntu/PAW/proiect-paw-tadam/script_front.sh start
ExecStop=/home/ubuntu/PAW/proiect-paw-tadam/script_front.sh stop
Restart=always

StandardOutput=file:/home/ubuntu/PAW/logs/frontend_service.log
StandardError=file:/home/ubuntu/PAW/logs/frontend_service.log

[Install]
WantedBy=multi-user.target
