[Unit]
Description=Proiect PAW backend
After=multi-user.target

[Service]
Type=idle
ExecStart=java -jar /home/ubuntu/PAW/proiect-paw-tadam/Backend_OceanCross/out/artifacts/demo_jar/demo.jar
Restart=always
StandardOutput=file:/home/ubuntu/PAW/logs/backend_service.log
StandardError=file:/home/ubuntu/PAW/logs/backend_service.log

[Install]
WantedBy=multi-user.target
