<div class="page">
    <div>
        <app-animation></app-animation>

            <div class="title">
                <h1 id="title">OCEANCROSS</h1>
                <h3>Cruise planner for everyone</h3>
                <div *ngIf="localStorageService.connectedUser?.username===''">
                    <h4>Create an account or sign in to enjoy the full experience.</h4>
                    <div>
                        <button class="button-style" mat-raised-button color="warn" (click)="clickLogin()" >Login</button>
                        <button class="button-style" mat-raised-button color="warn" (click)="clickSingUp()">Sign-up</button>
                    </div>
                </div>
                <div *ngIf="localStorageService.connectedUser?.role==='admin'">
                    <button class="button-style" mat-raised-button color="warn" (click)="addCruise()" >Add a cruise</button>
                </div>
            </div>
    </div>

    <div>
        <div class="pagination-and-search">
            <input
            class="search-label"
            placeholder="Search"
            aria-label="Search"
            type="search"
            [(ngModel)]="filter"/>

            <pagination-controls (pageChange)="onPageChange($event)" id="first">
            </pagination-controls>
        </div>

        <div class="cruises">
            <div class="cruise-card">
                <div *ngFor="let cruise of cruisesFilter  | paginate
                : { itemsPerPage: itemsPerPage,  currentPage: cruisesPage, id: 'first' }" class="card-cruise" >
                    <app-card-cruise [cruise]="cruise" enableButton="true"> </app-card-cruise>
                </div>
            </div>
        </div>
        
    </div>
</div>
