<div class = "activity-card">
    <img class= "port-image" [src]= "portActivity.imagePath">
    <div class = "activity-card-details">
        <span> Activity name: {{portActivity.name}}</span>
        <p>Location: {{portActivitySchedule.location}}</p>
        <p>Duration: {{portActivitySchedule.duration}}</p>
        <p>StartTime: {{portActivitySchedule.startTime.hours}} h {{portActivitySchedule.startTime.minutes}} min</p>
        <p>StartDate: {{portActivitySchedule.startDate}}</p>
        <p>Price: {{portActivitySchedule.price}}</p>
    </div>
    
</div>

