
p{
    margin : 10px;
}
.activity-card {
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: bisque
}
.port-image {
    width: 200px;
    height: 200px;
}
.activity-card-details{
    text-align: center;
}
