
p{
    margin : 10px;
}
.activity-card {
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: bisque;
    width:100%;
}
.port-image {
    width: 200px;
    height: 200px;
}
.activity-card-details{
    text-align: center;
}
::ng-deep  .example-box {
    background-color: #619ac7 !important; 
}

