h1{
    color:red;
}

.center {
    text-align: center;
}

.wrapper{
    margin:auto;
    width:calc(75%);
    
}
.background-image{
    background-image: url("/assets/image/image3.png");
    background-size: 100% 100%;
    min-width: 99%;
    min-height: 99%;
    position: fixed; 
    background-color: transparent;
}

table{
    width: 100%;
}
th, td {
    border:1px solid black;
    text-align: center;
    color: black;
    background-color: transparent;
  }
:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
    color: black;
    background-color: transparent;
 }
 .white{
    color: black;
 }
.button{
    text-align: center;
}