.title-cruise{
    color: red;
    font-size: 40px;
    text-align: center;
    bottom: -50px;
    position: relative;
}
.formular{
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 60px;
    
}
input { 
    width: 100%; 
    height: 40px;
}
.button{
    align-self: central;
    font-size: 30px;
    height: 60px;
    text-align: center;
}
.format{
    background-color: #619ac7;
    height: 100%;
}

.data-picker-div{
    display: flex;
    flex-direction: column;
}
.formular-sus{
    background-color: white;
    width: 600px;
    text-align: center;
    position: relative;
    width: 600px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin:0 0 40px;
}
#name{
    font-size: 25px;
}
#price{
    font-size: 25px;
}
.cruise{
    margin-bottom:100px;
}
.map-formular{
    display: flex;
    justify-content: space-between;
}
.buttons{
    width: 100%;
    display: flexbox;
    justify-content: center;
    text-align: center;
}