<div class="background">
  <br>
  <div class="title-port">
    {{cruiseport?.name}}
  </div><br>
  <div class="title-details">
    {{cruiseport?.arrival_date }},   {{cruiseport?.arrival_time}}, 
  </div>
  <div class="title-details"> The cruise will stop in {{cruiseport?.name}} for {{cruiseport?.duration}} </div>
  
  <div class="activities">
    <div>
      <div class="example-container">
        <h2>All activities</h2>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="activities"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="dropWA($event)">
          <div class="example-box" *ngFor="let activity of activities" cdkDrag>
            <app-port-details-card [portActivity] = "activity"></app-port-details-card>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <div class="line"></div>
    </div> -->
    
    <div>
      <div class="example-container">
        <h2>My activities</h2>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="myactivities"
            [cdkDropListConnectedTo]="[todoList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let activity of myactivities" cdkDrag>
                <app-port-details-card [portActivity] = "activity"></app-port-details-card>
              </div>
          </div>
        </div>
    </div>
 
</div>
  <div  class ="save-button">
    <button mat-raised-button color="warn" (click)="saveButton()">Save</button>
  </div>
  <br>



