
<div class="cardBody">
    <div class="image-card">
        <img src="/assets/image/1.svg" width="400" height="150" alt="No_more_crusies_for_you">
    </div>
    <h3 id="title"> {{cruise.name}} </h3>
    <p class="dates">{{cruise.start_date}}---{{cruise.end_date}}</p>
    <div class="button-card" *ngIf="localStorageService.connectedUser?.role!=='admin'">
        <button mat-raised-button color="warn"  (click)="redirectToView()" *ngIf="enableButton ==='true'">View more </button> 
    </div>
    <div class="button-card-admin" *ngIf="localStorageService.connectedUser?.role ==='admin'">
        <button mat-raised-button color="warn"  (click)="updateCruise()" >Modify</button> 
        <button mat-raised-button color="warn"  (click)="deleteCruise(cruise)" >Delete </button> 
    </div>
</div>
