<div style="display: flex;justify-content: center;align-items: center;">
    <app-card-cruise [cruise]="cruise" enableButton="false"> </app-card-cruise>

    <div style="align-items:center;flex-direction: column; flex-wrap:wrap;display:flex;border:solid;height: 21rem; margin-top: 2rem; margin-left: -3.1rem; width: 600px;">
        <div style="height:30px;">

        </div>
        <div *ngFor="let item of cruise.cruisePorts" style="width:fit-content;height:fit-content; margin:10px;">
            <div style="width:400px;display: flex;justify-content: space-between;">
               <label style="margin:10px;font-size:20px;"> <b>{{item.name}}</b></label>
                <button  mat-raised-button color="warn"(click)="viewActivities(item.id)">Vizualizeaza
                    activitati</button>
             </div>
        </div>

    </div>
</div>