<div>
    <div style="display: flex;justify-content: center;align-items: center;right: -50px;">
        <app-card-cruise [cruise]="cruise" enableButton="false"> </app-card-cruise>
        <div class="ports" style="overflow-y: scroll; width: 450px;">
            <div *ngFor="let item of cruise.cruisePorts" style="width:fit-content;height:fit-content; margin:10px;">
                <div style="width:400px;display: flex;justify-content: space-between;">
                   <label style="margin:10px;font-size:20px;"> <b>{{item.name}}</b></label>
                    <button  mat-raised-button color="warn"(click)="viewActivities(item.port_id)">View activities</button>
                 </div>
            </div>

        </div>
    </div>
</div>